@primary-color: #1775E1; // 全局主色
@link-color: rgba(0,255,255,0.8); // 链接色
@success-color: #33C658; // 成功色
@warning-color: #febd17; // 警告色
@error-color: #FF3C30; // 错误色
//@font-size-base: 14px; // 主字号
//@heading-color: rgb(255, 255, 255); // 标题色
//@text-color: #FFFFFF; // 主文本色
//@text-color-secondary: #dddddd; // 次文本色
//@disabled-color: #3F4C2C; // 失效色
//@border-radius-base: 4px; // 组件/浮层圆角
//@border-color-base: rgba(0,255,255,0.2); // 边框色
//@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
//
//@body-background: #161616;
//
//@component-background: #1E1E1E;
//
//@dropdown-selected-color: #3B3B3B;
//@select-dropdown-bg:rgba(0,255,255,0.2);
//@select-border-color: @primary-color;
//@select-item-selected-color:#FFFFFF;
//
//@menu-dark-color: @text-color-secondary-dark;
//@menu-dark-bg: @layout-header-background;
//@menu-dark-arrow-color: #fff;
//@menu-dark-submenu-bg: #000c17;
//@menu-dark-highlight-color: #fff;
//@menu-dark-item-active-bg: @primary-color;
//@menu-dark-selected-item-icon-color: @white;
//@menu-dark-selected-item-text-color: @white;
//@menu-dark-item-hover-bg: transparent;
//
//@background-color-light:#212121;
//
//@item-active-bg:rgba(0,255,255,0.2);
//@item-active-bg: rgba(0,255,249,0.2);
//@item-hover-bg:rgba(0,255,249,0.2);
//@primary-5:rgba(0,255,249,0.2);
//@select-background: rgba(0,255,255,0.2);
//@select-item-selected-bg: @background-color-light;
//@checkbox-color :#000c17;
//@checkbox-check-color: #CB1B45;
//@icon-color-hover: fade(#E03C8A, 75%);
